html * {
  color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

h5 {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
}

.yellow {
  color: yellow;
}
